<h1>All Bills</h1>
<table class="table">
  <thead>
    <tr>
      <th>Amount</th>
      <th>Type</th>
      <th>Status</th>
      <th>Employee</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @bills.each do |bill| %>
      <tr>
        <td><%= number_to_currency(bill.amount) %></td>
        <td><%= bill.bill_type&.humanize %></td>
        <td><%= bill.status.humanize %></td>
        <td><%= bill.employee.full_name %></td>
        <td>

     <%= button_to 'Approve', approve_bill_path(bill), method: :patch, class: 'btn btn-success', form: { data: { turbo: false } } %>
          <%= button_to 'Reject', reject_bill_path(bill), method: :patch, class: 'btn btn-danger', form: { data: { turbo: false } } %>

<%= link_to 'Back', root_path, class: 'btn btn-secondary' %>

        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= link_to 'Back', root_path, class: 'btn btn-secondary' %>
